<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SwagLabTest">
  <test thread-count="5" name="Regression">
    <classes>
      <class name="test.SwagLabLoginTest"/>
      <class name="test.AboutPageTest"/>
      <class name="test.CheckoutOverviewTest"/>
      <class name="test.ProductSortTest"/>
      <class name="test.AddToCartTest"/>
      <class name="test.SawgLabLogoutTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
